<h3>Recent Matches</h3>

<table class="table">
    <thead>
        <th scope="col">Hero</th>
        <th scope="col">Result</th>
        <th scope="col">Duration</th>
        <th scope="col">KDA</th>
        <th scope="col"></th>        
    </thead>
    <tbody id="recent_matches">
        <a href="{{ url_for('index') }}">
            <tr id="entry">
                <th id="hero"></th>
                <th id="result"></th>
                <th id="duration"></th>
                <th id="kda"></th>
                <th id="view_game"></th>    <!-- <a href="{{ url_for('index') }}">View</a> -->
            </tr>
        </a>
    </tbody>
</table>

<div class="d-flex justify-content-center mb-3" id="sentinel">
    <div class="spinner-border" role="status"></div>
</div>