<h3>Recent Matches</h3>

<table class="table">
    <thead>
        <th scope="col">Hero</th>
        <th scope="col">Result</th>
        <th scope="col">Duration</th>
        <th scope="col">KDA</th>
    </thead>
    <tbody id="recent_matches">
        <tr id="entry">
            <th id="hero"></th>
            <th id="result"></th>
            <th id="duration"></th>
            <th id="kda"></th>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-center mb-3" id="sentinel">
    <div class="spinner-border" role="status"></div>
</div>