{% extends 'base.html' %}

{% block content %}

{% set wins = wl["win"] %}
{% set losses = wl["lose"] %}
{% set win_percentage = (wins/(wins+losses)) * 100 %}

<div class="container">

    <div class="row justify-content-around mb-2 mt-2">
        <div class="col-1">
            <img src="{{ profile["profile"]["avatar"] }}" width="90" height="90" alt="avatar">
        </div>

        <div class="col">
            <h2>{{ profile["profile"]["personaname"] }}</h2>
            <p>{{ win_percentage|round(2) }}%</p>
        </div>
    </div>

    <div class="row justify-content-around mt-5">

        <h3>Most Played Heroes</h3>

        {% for hero in heroes %}

        {% set hero_wins = hero["win"] %}
        {% set hero_losses = hero["games"] - hero["win"] %}
        {% set hero_win_percent = (hero_wins/(hero_wins+hero_losses)) * 100 %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ hero["name"] }}</h5>
                    <p class="card-text">Wins:{{ hero_wins }} | Losses:{{ hero_losses }} | {{ hero_win_percent|round(2)
                        }}%</p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="row justify-content-around mt-5">

        <h3>Recent Matches</h3>


    </div>

</div>
{% endblock %}